.mb-4
  %h1.text-lg.font-bold.mb-4.flex.items-center
    %svg(class="w-6 h-6 mt-1 mr-2" focusable="false" viewBox="0 0 24 24" aria-hidden="true")
      %path(d="M20 4H4c-1.1 0-1.99.9-1.99 2L2 18c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2V6c0-1.1-.9-2-2-2zm0 4l-8 5-8-5V6l8 5 8-5v2z")
    アカウント登録

.mb-20
  .mb-4.text-sm
    無料プランとしてアカウントを登録します。
    %br
    有料プランをご希望の場合は、登録完了後にマイページから有料プランにアップグレードしてください。

  .mb-4
    = form_with model: User.new, url: user_path, local: true, class: "flex flex-col sm:flex-row space-y-4 sm:space-y-0" do |f|
      =f.text_field :email, type: :email, required: true, class: "flex-1 rounded py-3 sm:rounded-r-none sm:border-r-0 border-gray-300", placeholder: "メールアドレス"
      %button(type="submit" class="block rounded-l sm:rounded-l-none rounded-r py-4 px-4 bg-red-600 text-white text-sm hover:opacity-75")
        登録する

  %p(class="mt-4 text-xs leading-6 text-gray-900")
    登録済みの方はこちらから
    = link_to "ログイン", login_path, class: "font-semibold text-indigo-600 hover:text-indigo-500"
    してください。