<%
  steps = [
    "配信作品の選択",
    "配信情報の設定",
    "予約完了！"
  ]
%>

<nav aria-label="Progress">
  <ol role="list" class="divide-y divide-gray-300 rounded-md border border-gray-300 md:flex md:divide-y-0">
    <% steps.each.with_index(1) do |step, i| %>
      <li class="relative md:flex md:flex-1">
        <!-- Completed Step -->
        <div class="group flex w-full items-center">
          <span class="flex items-center px-6 py-4 text-sm font-medium">
            <span class="flex h-10 w-10 flex-shrink-0 items-center justify-center rounded-full border-2
              <% if active_step == i %>
                border-indigo-600
              <% else %>
                border-gray-300
              <% end %>
            ">
              <% if active_step == i %>
                <span class="text-indigo-600"><%= format("%02d", i) %></span>
              <% elsif active_step > i %>
                <svg class="h-6 w-6 text-gray-500" viewBox="0 0 24 24" fill="currentColor" aria-hidden="true">
                  <path fill-rule="evenodd" d="M19.916 4.626a.75.75 0 01.208 1.04l-9 13.5a.75.75 0 01-1.154.114l-6-6a.75.75 0 011.06-1.06l5.353 5.353 8.493-12.739a.75.75 0 011.04-.208z" clip-rule="evenodd" />
                </svg>
              <% else %>
                <span class="text-gray-500"><%= format("%02d", i) %></span>
              <% end %>
            </span>
            <span class="ml-4 text-sm font-medium
              <% if active_step == i %>
                text-indigo-600
              <% else %>
                text-gray-500
              <% end %>
            ">
              <%= step %>
            </span>
          </span>
        </div>

        <% if i < 3 %>
          <!-- Arrow separator for lg screens and up -->
          <div class="absolute right-0 top-0 hidden h-full w-5 md:block" aria-hidden="true">
            <svg class="h-full w-full text-gray-300" viewBox="0 0 22 80" fill="none" preserveAspectRatio="none">
              <path d="M0 -2L20 40L0 82" vector-effect="non-scaling-stroke" stroke="currentcolor" stroke-linejoin="round" />
            </svg>
          </div>
        <% end %>
      </li>
    <% end %>
  </ol>
</nav>
